<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <img src="assets/logo.png " width="150" height="50" />

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="signUp()">Join now</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" (click)="signIn()"
          >Sign in <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="row container">
  <div class="p-5 m-5">
    <h1>Welcome to your professional community</h1>
  </div>
</div>