<div class="container pt-5">
  <div id="content" class="content p-0">
    <app-profile-header></app-profile-header>

    <div class="profile-container">
      <div class="row row-space-20">
        <div class="col-md-8">
          <div class="tab-content p-0">
            <div class="tab-pane active show" id="profile-about">
              <app-work-and-education></app-work-and-education>
              <app-contact-information></app-contact-information>
              <app-basic-information></app-basic-information>
            </div>
          </div>
        </div>

        <div class="col-md-4 hidden-xs hidden-sm">
          <!-- <app-personal-information></app-personal-information> -->
        </div>
      </div>
    </div>
  </div>
</div>
