<div class="text-center pt-5">
    <img src="assets/logo.png " width="120" height="50">
<h1 class="pt-4">Welcome Back</h1>
<h3 class="pt-4 text-secondary">Don't miss your next opportunity. Sign in to stay updated on your professional world.</h3>
   <div class="form text-center pt-4">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
        <div>  <mat-form-field>
            <mat-label>Email</mat-label>
            <input placeholder="Email" type="email" matInput formControlName="email" />
          
          </mat-form-field>

        </div>
      <div>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              placeholder="Password"
              type="password"
              matInput
              formControlName="password"
            />
          </mat-form-field>
      </div>
      
      <div class="pt-4">
        <button mat-button color="accent" type="submit" >Sign In</button>

      </div>
      
      
      </form>
   </div>
</div>
