<li class="title">FRIEND LIST (9)</li>
<li class="img-list">
  <a href="#" class="m-b-5"
    ><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""
  /></a>
  <a href="#" class="m-b-5"
    ><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""
  /></a>
  <a href="#" class="m-b-5"
    ><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt=""
  /></a>
  <a href="#" class="m-b-5"
    ><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt=""
  /></a>
  <a href="#" class="m-b-5"
    ><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""
  /></a>
  <a href="#" class="m-b-5"
    ><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""
  /></a>
  <a href="#" class="m-b-5"
    ><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt=""
  /></a>
  <a href="#" class="m-b-5"
    ><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
  /></a>
  <a href="#" class="m-b-5"
    ><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""
  /></a>
</li>
